<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %>, there is a new Bread Notification!</h1>
    <p>
      <%= @message %>
    </p>
    <p>Thanks for using MasterControl App and have a great day!</p>
  </body>
</html>