<h1>New Publisher</h1>

<%= form_for @publisher, :url => book_publishers_path do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f, :publisher => @publisher }) %>
<% end %>

<div class="submit_row">
  <%= link_to_function "Create", "$('form').last().submit();" %>
  <%= back_link :url => book_publishers_path %>
</div>