<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".user_hoverer").each(function(i, ob) {
        $(ob).qtip({
          style: {classes: 'qtip-blue qtip-shadow', tip: true}, 
          position: {
            my: "top center",
            at: "bottom center",
            target: $(ob)
          }, 
          content: {
            text: "<table><tbody><tr><td>" + $(ob).attr("users") + "</td></tr></tbody></table>"
          }
        });
      });
    });
  </script>
<% end %>

<h1>Security Rights</h1>
<div class="grid_table">
  <div class="grid_header">
    <div class="grid_row">
      <div style="width: 50%;" class="grid_cell">Right Name</div>
      <div style="width: 40%;" class="grid_cell">Users</div>
      <div style="width: 10%;" class="grid_cell">&nbsp;</div>
    </div>
  </div>
  <div class="grid_body">
    <% @rights_map.sort{|a, b| a[0] <=> b[0]}.each do |(key, arr)| %>
      <div class="grid_row <%= cycle("even", "odd") %>">
        <div style="width: 50%;" class="grid_cell leftalign"><%= key %></div>
        <div style="width: 40%;" class="grid_cell"><span class="user_hoverer" users="<%= arr.join("</td></tr><tr><td>") %>">Hover for users</span></div>
        <div style="width: 10%;" class="grid_cell"><%= destroy_link :url => delete_rights_user_rights_path(:key => key) %></div>
      </div>
    <% end %>
  </div>
</div>