<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".user_hoverer").each(function(i, ob) {
        $(ob).qtip({
          style: { name: 'cream', tip: true }, 
          position: {
            corner: {
               target: 'topMiddle',
               tooltip: 'bottomMiddle'
            }
          }, 
          content: "<table><tbody><tr><td>" + $(ob).attr("users") + "</td></tr></tbody></table>"
        });
      });
    });
  </script>
<% end %>

<h1>Security Rights</h1>
<div id="searchwrapper">
  <table class="showtable">
    <tbody class="table_header">
      <td class="header_cell">Right</td>
      <td class="header_cell">Users</td>
    </tbody>
    <% @rights_map.each_pair do |key, arr| %>
      <tbody class="<%= cycle("even","odd") %>">
        <td>
          <%= key %>
        </td>
        <td style="text-align: center;">
          <span class="user_hoverer" users="<%= arr.join("<br>") %>">Hover for users</span>
        </td>
        <td class="button_cell"><%= destroy_link :url => delete_rights_user_rights_path(:key => key) %></td>
      </tbody>
    <% end %>
  </table>
</div>