<div class="side_div" style="background-color: gray; text-align: center;">-</div>
<div class="main_div" id="main_div" style="">
  <div class="spacer_div">
    <h3 class="main_title" style="text-align: center;">Dark Noobs Unlimited</h3>
    <p>And so it began. The war soon spread over the continents. The world was devastated.</p>
    <p>
      A few lived and thrived in the barren conditions, hoping they would gather the nine Kurai Shoshinsha no bōru. For the one who finds them all will be granted one wish. 
      Champions emerged in every city. Simple folk, armed with picks and clubs. Mages with spells and books. And even a few noblemen. More coins than wits.
    </p>
    <p>Fools.</p>
    <p>The Oracle had foreseen only a few would succeed. And they would not be mere mortals, for in a small outpost, untouched by the cruel lowlifes, a child was born. A child with potential. A child... chosen by the Gods.</p>
    <div style="float: left; width: 205px;"><%= register_link %></div>
    <div style="float: right; width: 205px;"><%= login_link %></div>
    <div style="clear: both;"></div>
    
  </div>
</div>
<div class="side_div" style="background-color: gray; text-align: center;">-</div>

<script type="text/javascript">
  $("#main_div").backstretch("/images/dnu/fire_mage_bg.png", {
    centeredY: false
  });
  
  var login_dnu_overviews_path = "<%= login_dnu_overviews_path %>";
  var register_dnu_overviews_path = "<%= register_dnu_overviews_path %>";
</script>