html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 9pt;
  color: #4400FF; /* Blauw */
  /*background-color: #D9D9D9; /* Lichtgrijze achtergrond */
}
#main_border_div {
  width: 876px;
  border-radius: 10px;
  margin-top: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('../images/grey.png');
  background-repeat: repeat;
}
#menu_border {
  width: 876px;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-image: url('../images/grey.png');
  background-repeat: repeat;
}
#main_table_div {
  width: 836px;
  margin: 0 auto;
  border-radius: 10px;
  background-image: url('../images/yellow.png');
  background-repeat: repeat;
}
#main_overlay {
  color: #2B2B2B;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#page_wrapper {
  width: 876px;
  height: auto;
  left: 0;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
#menu_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
#menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #E777EB; /* Paarse hover */
  line-height: 45px;
  display: inline-block;
  z-index: 1000;
  text-align: left;
}
#menu a {
  color: #2B2B2B; /* Lichtblauw */
  text-decoration: none;
}
#menu > li {
  /*background-color: #2B2B2B; /* Zwart */
  background-image: url('../images/yellow.png');
  background-repeat: repeat;
  cursor: pointer;
  float: left;
  position: relative;
  padding: 0px 10px;
}
#menu > li a:hover, #menu > li:hover > a {
  color: #4400FF;
}
#menu .logo {
  background-image: none;
  background-color: #4400FF; /* Blauw */
  padding: 0px;
  width: 70px;
}
#menu .logo img {
  float: left;
  margin: 0 15px;
}
#menu .logout:hover, #menu .main_menu:hover, #menu .tray:hover, #menu li li:hover {
  background-color: #000000;
  background-image: url('../images/yellow.png');
  background-repeat: repeat;
}
#menu li li:last-child:hover {
  background-color: #000000;
  border-radius: 0 0 20px 20px;
}
#menu .ending {
  padding: 0px;
  width: 20px;
}
#menu .sideline {
  border-left: dotted 1px #000000;
}
#menu .spacer {
  padding: 0;
  margin: 0;
}
#menu ul {
  padding: 0px;
  margin: 0px;
  display: block;
  display: inline;
}
#menu li ul {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 45px;
  width: 150px;
  line-height: 16px;
  /*background-color: #2B2B2B; /* Zwart */
  background-image: url('../images/yellow.png');
  background-repeat: repeat;
  display: none;
  -webkit-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
#menu li:hover ul {
  display: block;
}
#menu li ul li {
  display: block;
  padding: 5px 20px 5px 20px;
  border-top: dotted 1px #000000;
  list-style-type: none;
}
#menu li ul li:first-child {
  border-top: none;
}
#menu li ul li a {
  display: block;
  color: #2B2B2B; /* Lichtblauw */
}
#menu li ul li a:hover {
  color: #4400FF;
}
#menu li ul li:hover, #menu li ul li:hover a {
  color: #4400FF;
}
#menu li ul li input {
  float: right;
}
#menu .tray {
  text-align: right;
}
#menu a.checks_options.checked {
  color: #FF4c4c;
  font-weight: bold;
}
#notification_tray {
  display: block;
  width: auto;
  height: 45px;
  text-align: center;
}
#notification_tray a img {
  width: 20px;
  height: 20px;
}
#notification_tray a {
  display: none;
  text-decoration: none;
  position: relative;
  margin-right: 3px;
  width: 20px;
  height: 20px;
}
#notification_tray a span {
  background-color: #E777EB; /* Paarse hover */
  color: #FFFFFF;
  display: block;
  font-size: 7pt;
  height: 10px;
  line-height: 10px;
  position: absolute;
  text-align: center;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  right: 0px;
  bottom: 2px;
  z-index: 1;
  padding: 1px 2px;
  min-width: 8px;
}
.border-bottom-left {
  -webkit-border-radius: 0 0 0 15px;
  -o-border-radius: 0 0 0 15px;
  -moz-border-radius: 0 0 0 15px;
  border-radius: 0 0 0 15px;
}
.push_to_bottom {
  position: absolute;
  bottom: 70px;
}
.border-bottom-right {
  -webkit-border-radius: 0 0 15px 0;
  -o-border-radius: 0 0 15px 0;
  -moz-border-radius: 0 0 15px 0;
  border-radius: 0 0 15px 0;
}
.border-top-right {
  -webkit-border-radius: 0 15px 0 0;
  -o-border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  border-radius: 0 15px 0 0;
}
.border-bottom-left-right {
  -webkit-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}
h1 {
  text-decoration: none;
  font-size: 25px;
  color: #4400FF;
  border-bottom: 1px solid #4400FF;
  border-left: 1px solid #4400FF;
  -webkit-border-radius: 0 0 0 10px;
  -o-border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  border-radius: 0 0 0 10px;
  padding-left: 10px;
  margin-top: 0px;
}
a {
  color: #4400FF;
  text-decoration: none;
}
.showtable {
  border-collapse: collapse;
  margin: 5px auto 50px;
  width: 95%;
}
.filltable {
  border-collapse: collapse;
  width: 100%;
}
.showtable td, .filltable td {
  border: 1px solid black;
  padding: 5px;
}
.showtable table:not(.showtable):not(.filltable) td, .filltable table:not(.showtable):not(.filltable) td {
  border: none;
  padding: 0px;
}
.table_header .display_none_header_cell, tbody .display_none_cell {
  border: 0px;
}
.table_header {
  text-align: center;
}
.filltable .table_header {
  line-height: 20px;
}
.table_header td {
  padding: 10px;
  font-size: 15px;
}
.table_header .header_cell {
  background-color: #4400FF;
  color: #E777EB; /* Paarse hover */
}
.button_cell {
  width: 70px;
  text-align: center;
}
a.highlighted_menu img, #menu li a.highlighted_menu img {
  display: block !important;
}
a.highlighted_menu, #menu li a.highlighted_menu {
  font-weight: bold;
  text-decoration: underline;
}
.even {
  background-color: #C1C1C1; /* Lichtgrijs */
}
.even:hover, .odd:hover {
  background-color: #9A9A9A;
}
tbody:not(.table_header) tr:hover {
  background-color: #9A9A9A;
}
tbody:not(.table_header) tr table tr:hover {
  background-color: #BABABA;
}
input {
  width: 99%;
}
input[type="submit"] {
  width: auto;
}
.notice, .error, .success {
  margin-left: 100px;
  font-size: 15px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.notice p, .error p, .success p {
  line-height: 35px;
}
.notice img, .error img, .success img {
  float: left;
  margin: 10px 0;
}
.notice {
  border: medium #8CBC0E solid;
  background-color: #F3F7E5;
}
.error {
  border: medium #FF4C4C solid;
  background-color: #FFE5E5;
  color: #FF4C4C;
}
.success {
  border: medium #00CC00 solid;
  background-color: #99FF99;
  color: #000000;
}
.error_message {
  border: medium #FF4C4C solid;
  background-color: #FFE5E5;
  color: #FF4C4C;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
#home_page_wrp_down {
  width: 826px;
  margin: 0 auto;
  padding: 10px 0;
}
.feeds .date {
  font-size: 25px;
  color: #4400FF;
  padding-left: 10px;
  opacity: 0.2;
}
.feeds .feed_comment {
  margin-left: 35px;
  line-height: 30px;
}
.dotted_border {
  border: 1px dotted #4400FF;
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  width: 75%;
}
.dotted_border div {
  width: 50%;
  float: left;
}
.pagination {
  margin-bottom: 10px;
}
.pagination span, .pagination a {
  padding: 3px;
  margin-left: -3px;
}
.pagination span.current {
  padding: 5px;
  border: 2px solid #E777EB;
}
.pagination a, .pagination .prev_page, .pagination .next_page {
  border-top: 1px solid #2B2B2B;
  border-bottom: 1px solid #2B2B2B;
}
.pagination .prev_page {
  border-left: 1px solid #2B2B2B;
}
.pagination .next_page {
  border-right: 1px solid #2B2B2B;
}
#tabination {
  width: 100%;
  height: 100%;
}
#tabination .tabs {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  float: left;
  border-right: 1px solid #A6A2EB; /* Lichtblauw */
}
#tabination .tabs .tab {
  padding: 5px;
  background-color: #A6A2EB; /* Lichtblauw */
  border: 1px solid #4400FF; /* Blauw */
  border-radius: 0 10px 10px 0;
  text-align: center;
  margin-top: -1px;
  width: 160px;
}
#tabination .tabs .tab.current {
  width: 179px;
}
#tabination .tabs_contents {
  float: left;
}
#tabination .tabs_contents .tab_content {
  margin-left: 15px;
  display: none;
}
#tabination .tabs_contents .tab_content.current {
  display: block;
}
div.login {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
#login_screen {
  width: 550px;
  margin: 0 auto;
}
a.looklike_button {
  background-color: #A6A2EB;
  border: 1px solid #4400FF;
  border-radius: 20px 20px 20px 20px;
  padding: 5px 20px;
  color: #000000;
}
a.looklike_button:hover {
  background-color: #4400FF;
  border: 1px solid #A6A2EB;
  color: #E777EB;
}
#bread_report input[type=radio] {
  width: auto;
}
#bread_report #picker_menu {
  border: 1px solid #4400FF;
  padding: 5px;
  width: 888px;
  margin: 10px 0;
  display: block;
}

#bread_report #picker_menu .title_label {
  position: relative;
  top: -15px;
  left: 10px;
  border-radius: 25px;
  border-left: 1px solid #4400FF;
  border-right: 1px solid #4400FF;
  background-color: #D9D9D9;
  padding: 2px 5px;
}

#bread_report #picker_menu .inner_content {
  margin-top: -10px;
  width: 50%;
}
#bread_report #picker_menu .inner_right_content {
  margin-top: -35px;
  width: 40%;
  text-align: right;
  float: right;
  font-size: 35px;
  opacity: 0.1;
  font-weight: bold;
  display: block;
  padding-right: 10px;
}
#bread_report .bread_report_view {
  width: 100%;
}
#main_welcome {
  width: 100%;
}
#main_center {
  width: 826px;
  margin: 0 auto;
}
