<div>
  <h1><%= @user.full_name %></h1>
  <table class="showtable">
    <tr>
      <td style="vertical-align: top;">Orders</td>
      <td>
        <table class="filltable">
          <thead class="table_header">
            <th style="width: 50px;" class="header_cell">Order Id</th>
            <th class="header_cell">Items</th>
            <th class="header_cell">Quantity</th>
            <th style="width: 50px;" class="header_cell">Price</th>
          </thead>
        </table>
      </td>
    </tr>
    <tr class="button_row">
      <td colspan="2"><%= back_link :url => users_path %></td>
    </tr>
  </table>
</div>