<h1>New Weekly Order</h1>

<%= form_for @order, :url => bread_weekly_orders_path do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f, :order => @order }) %>
<% end %>

<div class="submit_row">
  <%= link_to_function "Create", "if (confirm(\"#{put("order_alert_add")}\")){$('form').last().submit();}" %>
  <%= back_link :url => bread_weekly_orders_path %>
  <a href="javascript:void(0);" id="overview_hover" style="float: left; margin-left: 5px;">Hover for overview</a>
</div>