<div>
  <%if error_messages_for 'genre' != nil%>
    <%= error_messages_for 'genre' , :class=>"error_message" %>
  <%end%>

  <tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
</div>
