<div>
  <h1>Edit order</h1>
  <table class="showtable">
    <% form_for @order, :url => order_path(@order) do |f| %>
      <%= render(:partial => 'form', :locals => { :f => f, :order => @order }) %>
      <tr>
        <td colspan="2"><%= f.submit "Update" %></td>
      </tr>
    <% end %>
    <tr class="button_row">
      <td colspan="2"><%= show_link :url => order_path(@order) %> | <%= back_link :url => orders_path %></td>
    </tr>
  </table>
</div>