<div>
  <h1>Edit log</h1>
  <table class="showtable">
    <% form_for @bread_log, :url => bread_bread_log_path(@bread_log) do |f| %>
      <%= render(:partial => 'form', :locals => { :f => f, :bread_log => @bread_log }) %>
      <tr>
        <td colspan="2"><%= f.submit "Update" %></td>
      </tr>
    <% end %>
    <tr class="button_row">
      <td colspan="2"><%= back_link :url => bread_bread_logs_path %></td>
    </tr>
  </table>
</div>