<h1>Edit Log</h1>

<%= form_for @bread_log, :url => bread_bread_log_path(@bread_log) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f, :bread_log => @bread_log }) %>
<% end %>

<div class="submit_row">
  <%= link_to_function "Update", "$('form').last().submit();" %>
  <%= back_link :url => bread_bread_logs_path %>
</div>