<div>
  <h1>New Log</h1>
  <table class="showtable">
    <% form_for @bread_log, :url => bread_bread_logs_path do |f| %>
      <%= render(:partial => 'form', :locals => { :f => f, :bread_log => @bread_log }) %>
      <tr>
        <td colspan="2"><%= f.submit "Add" %>&nbsp;<%= back_link :url => bread_bread_logs_path %></td>
      </tr>
    <% end %>
  </table>
</div>