<% if author.errors.any? %>
  <div class="error_message">
    <p>
      <%= author.errors.full_messages.join("<br>").html_safe %>
    </p>
  </div>
<% end %>

<div class="grid_table" style="width: 500px;">
  <div class="grid_body">
    <%= grid_row("Name:", cycle("even", "odd")){f.text_field :name, :style => "width: 90%;"} %>
  </div>
</div>