<div>
  <h1>Editing author</h1>
  <table class="showtable">
    <% form_for @author, :url => book_author_path(@author) do |f| %>
      <%= render(:partial => 'form', :locals => { :f => f, :author => @author }) %>
      <tr>
        <td colspan="2"><%= f.submit "Update" %></td>
      </tr>
    <% end %>
    <tr class="button_row">
      <td colspan="2"><%= link_to "Show", book_author_path(@author) %> | <%= link_to "Back", book_authors_path %></td>
    </tr>
  </table>
</div>