<div>
  <h1>Edit item</h1>
  <table class="showtable">
    <% form_for @item, :url => item_path(@item) do |f| %>
      <%= render(:partial => 'form', :locals => { :f => f, :item => @item }) %>
      <tr>
        <td colspan="2"><%= f.submit "Update" %></td>
      </tr>
    <% end %>
    <tr class="button_row">
      <td colspan="2"><%= show_link :url => item_path(@item) %> | <%= back_link :url => items_path %></td>
    </tr>
  </table>
</div>