<div id="main_welcome" style="min-height: 400px;">
  <div id="main_center">
    <h1>MasterControlApp</h1>
    <div style="float: left; width: 500px; height: 150px;">
      Welkom op de MasterControlApp. Deze applicatie dient als verzamelpunt van verscheidene kleinere applicaties. De hoofdapplicatie is BreadApp. Dit is momenteel ook de enige live applicatie.<br>
      Binnenkort zal de F1 Portal App ook gehost worden en daarna zal het aloude BoekApp ook zijn weg vinden naar Rubyland.<br>
      De ganse site is samengesteld in <a href="http://rubyonrails.org/" target="_BLANK">Ruby on Rails</a>, met behulp van <a href="http://jquery.com/" target="_BLANK">jQuery</a>.<br>
      Indien er vragen of bugmeldingen zijn, binnenkort zal er een contact-pagina komen. Voorlopig kan alles mondeling of via mijn (bekend) mailadres gemeld worden.<br><br>
      
      Grtz,<br>
      Het Yato Extreme Team.
    </div>
    <div style="float: right; width: 200px; height: 150px;">
      <a href="<%= new_user_session_path %>"><img src="/images/login_bread.png" style="width: 193px; height: 150px;"></a>
    </div>
    <div style="clear: both;"></div>
    <h1 style="margin-top: 20px;">Nieuwtjes</h1>
    <div style="float: left; width: 400px; height: 200px;">
      NEWSFEED
    </div>
    <div style="float: right; width: 400px; height: 200px;">
      ARTICLES
    </div>
  </div>
</div>


