<div id="main_welcome">
  <div id="main_center">
    <h1>MasterControlApp</h1>
    <div style="float: left; width: 500px; height: 150px;">
      Welkom op de MasterControlApp. Deze applicatie dient als verzamelpunt van verscheidene kleinere applicaties. De hoofdapplicatie is BreadApp. Dit is momenteel ook de enige live applicatie.<br>
      Binnenkort zal de F1 Portal App ook gehost worden en daarna zal het aloude BoekApp ook zijn weg vinden naar Rubyland.<br>
      De ganse site is samengesteld in <a href="http://rubyonrails.org/" target="_BLANK">Ruby on Rails</a>, met behulp van <a href="http://jquery.com/" target="_BLANK">jQuery</a>.<br>
      Indien er vragen of bugmeldingen zijn, binnenkort zal er een contact-pagina komen. Voorlopig kan alles mondeling of via mijn (bekend) mailadres gemeld worden.<br><br>
      
      Grtz,<br>
      Het Yato Extreme Team.
    </div>
    <div style="float: right; width: 200px; height: 150px;">
      <a href="<%= new_user_session_path %>"><img src="/images/login_bread.png" style="width: 193px; height: 150px;"></a>
    </div>
    <div style="clear: both;"></div>
    <h1 style="margin-top: 20px;">Nieuwtjes</h1>
    <div style="float: left; width: 400px;">
      <div class='notice'>
        <img height='45' width='45' src='/images/notice.png'>
        <p>Het weekend van 1 december zal er<br>geen brood gebakken worden!</p>
      </div>
      <% @feeds.each do |feed| %>
        <div class="feed">
          <div class="feed_text"><%= feed.text %></div>
          <div class="feed_date"><%= feed.created_at.strftime("%-d %b %Y %H:%M:%S") %></div>
        </div>
        <div style="clear: both;"></div>
      <% end %>
    </div>
    <div style="float: right; width: 400px;">
      <div style="width: 400px;">
        <h3>Lorem Ipsum</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec urna nulla, dignissim eu auctor ut, posuere sed neque. Ut lacus leo, faucibus 
        eget mattis vel, ullamcorper pretium tellus. Nam vel erat dui, sit amet imperdiet nibh. 
        <img style="float: right; margin: 5px;" src="/images/sandwich.png">
        Praesent tempus, mi sed interdum rhoncus, diam tortor 
        semper libero, laoreet pulvinar massa ligula in orci.<br><br>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis 
        egestas. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum et felis eu elit dignissim tempor. 
        Cras nec lorem at sem tristique venenatis vel rutrum magna.
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>


