<div id="main_welcome" style="min-height: 200px;">
  <div id="main_center">
    <h1>MasterControlApp</h1>
    <div style="float: left; width: 500px; height: 150px;">
      Hier komt nog wel eens een hoofdpagina.<br><br>
      Voorlopig kan je <a style="font-size: 25px; font-weight: bold; text-decoration: underline;" href="<%= new_user_session_path %>">hier</a> inloggen.<br>
      Als er nog vragen of sugesties zouden zijn... er is nog geen contactpagina ;)<br>
      Dus het zal mondeling moeten.<br><br>
      
      Grtz,<br>
      Het Yato Extreme Team.
    </div>
    <div style="float: right; width: 200px; height: 150px;">
      <a href="<%= new_user_session_path %>"><img src="/images/login_bread.png" style="width: 193px; height: 150px;"></a>
    </div>
  </div>
</div>


