<div>
  <h1>Edit category</h1>
  <table class="showtable">
    <% form_for @category, :url => category_path(@category) do |f| %>
      <%= render(:partial => 'form', :locals => { :f => f, :category => @category }) %>
      <tr>
        <td colspan="2"><%= f.submit "Update" %></td>
      </tr>
    <% end %>
    <tr class="button_row">
      <td colspan="2"><%= show_link :url => category_path(@category) %> | <%= back_link :url => categories_path %></td>
    </tr>
  </table>
</div>